#theme-footer
  color: #FFF
  text-align: right
  height: 85px
  a
    color: #00A19A
    &:hover
      color: #FFF

#footer-content
  position: relative
  top: 50px

#footer-line
  display: block
  height: 20px
  right: 50%
  left: 0
  position: absolute
  background: #D9085F url('image/nav-bg.png') no-repeat right bottom
