#theme-header
  height: 200px
  padding: 20px 10px 10px 10px

#logo
  height: 180px
  width: 300px
  left: 50%
  position: absolute
  margin-left: -484px
  background: url('image/logo-cbsoft2016.png') no-repeat center center
  background-size: contain
  span
    display: none

#top-menu
  height: 55px
  top: 138px
  left: 50%
  right: 0
  position: absolute
  background: #D9085F url('image/nav-bg.png') no-repeat left bottom
  ul
    height: 35px
    margin: 0
    background: #352C4E
    text-align: left
    padding: 0px 30px 0px 100px
  li
    width: auto
    height: 35px
    display: inline-block
    float: none
    background: #9E136F
    cursor: pointer
    &:first-child
      background: #0075A6
    &:nth-of-type(2)
      background: #D7D600
    &:last-child
      background: #00A19A
    &:hover
      height: 34px
      border-bottom: 1px solid #FFF
  a
    padding: 0px 15px
    border: none
    color: #FFF
    font-size: 18px
    font-family: 'Gotham Nights'
    font-weight: 300
    line-height: 40px
    text-decoration: none
