.profile-homepage, .action-profile_design-index 
  #content
    .highlights-block
      width: 250px !important
      height: 270px
      margin-right: 10px
      padding: 10px
      background: #FFF
      border: none
      border-radius: 10px
      +shadow(5px, 5px, 20px, 0, rgba(0,0,0,0.5))
      .highlights-container
        background: #FFF
        border: none
        height: 270px !important
        .highlights-image-link
          background: #FFF
          height: 270px !important
          img
            height: 225px
            width: auto
          .highlights-label
            background: #FFF
            color: #000
            font-family: 'Gotham Nights'
            font-size: 18px
            text-align: center
            line-height: 40px    
      .highlights-block-footer
        display: none
    .article-block
      width: 680px !important
      height: 260px
      padding: 15px
      background: #FFF
      border-radius: 10px
      +shadow(5px, 5px, 20px, 0, rgba(0,0,0,0.5))
      p
        font-family: 'Open Sans'
        font-size: 14px
        margin: 0
      .read-more
        height: 30px
        width: 30px
        position: absolute
        right: 20px
        bottom: 20px
        background: #FCCB46
        border-radius: 30px
        a
          display: block
          height: 30px
          width: 30px
          background: transparent url('image/icon-more.png') no-repeat center center
          color: transparent
    .container-block-plugin_container-block
      margin-top: 40px
      .block-outer
        .display-content-block
          padding: 20px
          background: #FFF
          border-radius: 10px
          +shadow(5px, 5px, 20px, 0, rgba(0,0,0,0.5))
          li
            display: inline-block
            .image img
              margin: 0px 10px 0px 0px
              max-width: 100px
        &:first-child .display-content-block
          .image img
            max-width: 150px
        &:last-child .display-content-block
          .image img
            max-width: 70px
