<div id="footer-line">
</div>
<div id="footer-content">
  <p><%= _('This site uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/') %></p>
  <p>Development and maintenance support <%= link_to('CCSL-USP', 'http://ccsl.usp.br/')%> and <%= link_to('Coli
</div>
