<div id="logo">
  <%= link_to '<span>CBSOFT 2016</span>', '/'+profile.identifier %>
</div>
<div id="top-menu">
  <ul>
    <li><%= link_to 'XXX SBES', '/'+profile.identifier+'/sbes2016'%></li>
    <li><%= link_to 'XX SBLP', '/'+profile.identifier+'/sblp2016'%></li>
    <li><%= link_to 'XIX SBMF', '/'+profile.identifier+'/sbmf2016'%></li>
    <li><%= link_to 'X SBCARS', '/'+profile.identifier+'/sbcars2016'%></li>
  </ul>
</div>
