@import ../base/style.css
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800)

@font-face
  font-family: 'Gotham Nights'
  src: url('fonts/Gotham Nights.ttf')
  src:  url('fonts/Gotham Nights.eot') format('eot'), url('fonts/Gotham Nights.woff') format('woff'), url('fonts/Gotham Nights.ttf') format('truetype'), url('fonts/Gotham Nights.svg') format('svg')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Gotham Nights'
  src: url('fonts/Gotham Nights Bold.ttf')
  src:  url('fonts/Gotham Nights Bold.eot') format('eot'), url('fonts/Gotham Nights Bold.woff') format('woff'), url('fonts/Gotham Nights Bold.ttf') format('truetype'), url('fonts/Gotham Nights Bold.svg') format('svg')
  font-weight: 700
  font-style: normal

=shadow($top, $left, $blur, $inset, $color)
  -webkit-box-shadow: $top $left $blur $inset $color
  -moz-box-shadow: $top $left $blur $inset $color
  box-shadow: $top $left $blur $inset $color

body
  background: #352C4E 

#wrap-1
  width: 100%
  margin: 0

@import header

#wrap-2
  background: none
  border: none

#navigation, #site-title, #user
  display: none

#content
  margin-top: 0px
@import content

@import homepage

@import footer
